index.html.erb

<h1>Welome to Rock Paper Scissors</h1>
<%= link_to 'Play Rock', new_game_path(myChoice: 'rock') %>
<%= link_to 'Play Paper', new_game_path(myChoice: 'paper') %>
<%= link_to 'Play Scissors', new_game_path(myChoice: 'scissors') %>
<table border=".5">
  <thead>
    <tr>
      <!-- <th colspan="3"></th> -->
      <th>Game</th>
      <th>Result</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
<!--     <tr>
      <td>Game ID</td>
      <td>Game Result</td>
      <td>Actions</td>
      <td></td>
    </tr> -->

    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.game_result %></td>
        <!-- <td><%= link_to 'Show Game Result', game %></td> -->
        <td><%= link_to 'Delete Game', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Games Played: <%= total_games(@games) %></h1>
<h1>Games Won: <%= total_wins(@games) %></h1>
<h1>Games Lost: <%= total_lost(@games) %></h1>
<h1>Games Tied: <%= total_tied(@games) %></h1>
<h1>Games Unknown: <%= total_unknown(@games) %></h1>
